.description-section {
  padding-top: $navbar-height;
  height: calc(100vh - #{$navbar-height});

  display: flex;
  flex-wrap: wrap;
  align-content: center;

  p{
    width: 80%;
    margin: 12px auto;
    @extend %fade-in;
  }
}